@import url('https://fonts.googleapis.com/css2?family=Concert+One:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');
html{
    height: 100%;
}
h1{
    text-align: center;
}
body{
    background: whitesmoke;
    padding: 1rem 5rem;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    background: linear-gradient(45deg,rgba(183, 204, 248, 0.717),rgba(7, 43, 127, 0.679));
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header h1{
    color: rgb(14, 31, 61);
    font-family:Georgia, 'Times New Roman', Times, serif
}
#input{
    font-size: 18px;
    padding: 5px 10px;
    outline: none;
    border: none;
    border-radius: 15px;
    background: aliceblue;
}
#search{
    background: none;
    padding: 5px 20px;
    color: aliceblue;
    outline: none;
    background: rgb(10, 26, 64);
    font-size: 17px;
    border-radius: 15px;
    cursor: pointer;
    border: none;
}
.weather{
    text-align: center;
    color: rgb(1, 13, 24);
}
#city{
    font-size: 30px;
}
.weather img{
    width: 20%;
    height: 20%;
    overflow: hidden;

}
#temperature{
    font-size: 50px;
    margin: 0;
    margin-left: 30px;
    margin-bottom: 10px;
}
.temp-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}
#clouds{
    font-size: 25px;
    font-weight: bold;
}
main{
    display: grid;
    grid-column-gap: 25px;
    grid-template-columns: 1fr 5px 1fr;
    align-items: center;
    margin: 0 50px;
    color: rgb(9, 7, 29);
}
.next{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}
.next p,.next h3{
    margin: 3px 0;
}
.forecstD{
    margin: 20px 50px;
    color: aliceblue;
}
.weekF{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.cast-header{
    text-align: center;
    color: rgb(11, 26, 39);
    font-weight: bolder;
    font-size: 1.5rem;
}


.time{
    color: rgb(253, 253, 253);
    font-family: 'Courier New', Courier, monospace;
    font-weight:700;
}
.desc{
    color: rgb(16, 16, 57);
    font-size: larger;
    font-weight: 700;
}
.cast-header1{
    text-align: center;
    color: rgb(11, 26, 39);
    font-weight: bolder;
    font-size: 1.5rem;
}
.nextTemp{
    color: rgb(16, 16, 57);
    font-family: 'Courier New', Courier, monospace;
    font-weight:700;
}
.date{
    font-weight:700;
    color: rgb(253, 253, 253);
}